<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
  </head>
  <body>

    <header>
     <a href="/"> <img src="/logo.png" alt="logo"></a>
      <div class="navegation">
          <a href="/about">Sobre</a>
          <a href="/receitas">Receitas</a>
      </div>
    </header>

    {% block content %} {% endblock %}


  </body>
</html>
