{% extends "layout.njk" %}

{% block head %}
  <title>Receitas - Foodfy</title>
{% endblock %}



{% block content %}
<head>
  <title>Receitas</title>
  <link rel="stylesheet" href="/receitas.css" />
</head>


    <main>

      <div class="grid-cards">

        <div class="card">
          <img src="/burger.png" alt="burger">
          <div class="info">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <img src="/pizza.png" alt="pizza">
          <div class="info">
            <h3>Pizza 4 estações</h3>
            <p>por Fabiana Melo</p>
          </div>
        </div>

        <div class="card">
          <img src="/espaguete.png" alt="espaguete">
          <div class="info">
            <h3>Espaguete</h3>
            <p>por Julia Kinoto</p>
          </div>
        </div>

        <div class="card">
          <img src="/lasanha.png" alt="lasanha">
          <div class="info">
            <h3>Lasanha mac n` cheese</h3>
            <p>por Juliano Vieira</p>
          </div>
        </div>

        <div class="card">
          <img src="/doce.png" alt="doce">
          <div class="info">
            <h3>Docinhos pão-do-céu</h3>
            <p>por Ricardo Golvea</p>
          </div>
        </div>

        <div class="card">
          <img src="/asinhas.png" alt="asinha">
          <div class="info">
            <h3>Asinhas de frango ao barbecue</h3>
            <p>por Vania Steroski</p>
          </div>
        </div>

        <div class="card">
          <img src="/burger.png" alt="burger">
          <div class="info">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <img src="/pizza.png" alt="pizza">
          <div class="info">
            <h3>Pizza 4 estações</h3>
            <p>por Fabiana Melo</p>
          </div>
        </div>

        <div class="card">
          <img src="/espaguete.png" alt="espaguete">
          <div class="info">
            <h3>Espaguete</h3>
            <p>por Julia Kinoto</p>
          </div>
        </div>

        <div class="card">
          <img src="/lasanha.png" alt="lasanha">
          <div class="info">
            <h3>Lasanha mac n` cheese</h3>
            <p>por Juliano Vieira</p>
          </div>
        </div>

        <div class="card">
          <img src="/doce.png" alt="doce">
          <div class="info">
            <h3>Docinhos pão-do-céu</h3>
            <p>por Ricardo Golvea</p>
          </div>
        </div>

        <div class="card">
          <img src="/asinhas.png" alt="asinha">
          <div class="info">
            <h3>Asinhas de frango ao barbecue</h3>
            <p>por Vania Steroski</p>
          </div>
        </div>
      </div>
    </main>

    <div class="modal-overlay">
      <div class="modal">
        <section class="content">

        </section>
          <a href="#">Fechar modal</a>

  
      </div>
  </div>


   <footer>
      <span>Todos direitos reservados, receitas Foodfy</span>
    </footer>

    <script src="/script.js"></script>

    {% endblock %}
